@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Black';
font-style: normal;
font-weight: normal;
src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
}
/**********GLOVAL STYLES**********/
.index-page {
  font-family: 'Circular Std Medium', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-kerning: none;
  color: #000000;
  text-transform: inherit;
  background-color: #f2f2f2;
  max-width: 1200px;
  min-width: 360px;
  margin: 0 auto;
}
/**********HEADER**********/
.main-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin: 0 30px;
  padding-top: 30px;
}

.header-logotype {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  cursor: default;
  background-color: #383838;
  color: white;
  width: 60px;
}

.main-nav__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.main-nav__item {
  margin-left: 10%;
}

.main-nav__link {
  position: relative;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  color: #2a2a2a;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #ffffff;
  transition: 0.3s;
}

.main-nav__link::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 0px;
  left: -15%;
  height: 0px;
  width: 130%;
  background-color: #e83a30;
  transition: 0.3s;
}

.main-nav__link:hover::before,
.main-nav__link:focus::before {
  height: 26px;
  transition: 0.3s;
}

.modal-open,
.modal-close {
  display: none;
}
/**********MAIN**********/
/**********INTRO**********/
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.intro-caption {
  font-family: 'Circular Std Medium', Arial, sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 600;
  color: #383838;
  cursor: default;
  padding: 0 30px;
  /*
  background: linear-gradient(358deg, #ff004d, #000000, #000000, #ff0000);
  background-size: 80% 800%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: Animation 18s ease infinite;
  -moz-animation: Animation 18s ease infinite;
  animation: Animation 18s ease infinite;
  */
}

@-webkit-keyframes Animation {
   0%{background-position:0% 96%}
   50%{background-position:100% 5%}
   100%{background-position:0% 96%}
}
@-moz-keyframes Animation {
   0%{background-position:0% 96%}
   50%{background-position:100% 5%}
   100%{background-position:0% 96%}
}
@keyframes Animation {
   0%{background-position:0% 96%}
   50%{background-position:100% 5%}
   100%{background-position:0% 96%}
}

.intro__nav {
  margin: 0 30px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.nav__link {
  font-size: 23px;
  line-height: 37px;
  font-weight: 600;
  color: #282727;
  cursor: default;
}
/**********ABOUT**********/
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.test {
  position: relative;
  background: #ffffff;
  padding: 30px 40px;
  margin: 0 10px 30px 0;
  flex: 1 1 389px;
}

.about-caption {
  position: absolute;
  top: -20px;
  margin-left: -20px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: #383838;
  cursor: default;
}

.test p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
  margin-top: 5px;
}

.time {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-transform: none;
  color: #817c7c;
}

.main-footer {
  min-height: 100px;
  background-color: black;
}

.modal-login {
  display: none;
}


@media (max-width:414px) {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    min-height: 50px;
    margin: 0;
    padding: 30px 30px 30px;
    background-color: #f2f2f2;
    z-index: 50;
  }

  .header-logotype {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: white;
  }

  .buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .modal-open {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: #303030;
    transition-duration: 0.8s;
    opacity: 1;
  }
/*
  .modal-open-disappear {
    transition-duration: 0.8s;
    opacity: 0;
    padding-right: 50px;
  }
*/
  .modal-open-1 {
   transition-duration: 0.8s;
   right: 30%;
   opacity: 0;
 }


  .main-nav__wrapper {
    display: none;
  }

  .main-nav__link {
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    color: #282727;
  }

  .intro {
    margin-top: 56px;
    height: 300px;
  }

  .intro__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    height: 120px;
  }

  .intro-caption {
    font-size: 70px;
    line-height: 70px;
    font-weight: 600;
    color: #282727;
    cursor: default;
    padding: 0 30px;
  }

  .test {
    padding: 15px 35px 40px;
    margin: 0 10px 30px 10px;
  }

  .about-caption {
    top: -14px;
    margin-left: -12px;
    font-size: 22px;
    line-height: 26px;
  }

  .test p {
    line-height: 26px;
  }

  .nav__wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: flex-end;

    list-style: none;
    width: 100%;
    margin: 0 30px;
  }

  .nav__link {
    font-size: 23px;
    line-height: 37px;
    font-weight: 600;
    color: #282727;
    cursor: default;
  }

  .modal-login {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    bottom: 100%;
    width: 100%;
    padding: 14px 30px 30px;
    z-index: 49;

    color: #000000;
    background-color: #f2f2f2;
    opacity: 0;
    transition-duration: 0.8s;
    /*
    animation: bounce 0.8s;
    */
  }

  .modal-show {
    top: 0;
    bottom: 0;
    opacity: 1;
    /*
    animation: bounce 0.8s;
    */
  }

  @keyframes bounce {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .header-modal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 28px;
    width: 100%;
  }

  .header-logotype-modal {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    transition-duration: 1s;
  }

  .modal-close {
    position: absolute;
    right: 30%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: #303030;
    transition: 0.3s;
    transition-duration: 0.8s;
    opacity: 0;
  }

  .modal-close-1 {

   right: 0;
   transition-duration: 0.8s;

   opacity: 1;
 }
/*
  .modal-close-appear {
    margin-right: 0;
    transition-duration: 0.8s;
    opacity: 1;
  }
*/
  .modal-open-disappear {
    transition-duration: 0.8s;
    opacity: 0;
    padding-right: 50px;
  }

  .main-nav__wrapper-modal {
    display: flex;
    height: 100%;
    transition-duration: 3s;
  }

  .main-nav__list-modal {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    width: 100%;
  }

  .main-nav__item-modal {
    margin-bottom: 10px;
  }

  .main-nav__link-modal {
    position: relative;
    z-index: 1;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #282727;
    transition: 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .main-nav__link-modal:hover,
  .main-nav__link-modal:focus {
    color: #ffffff;
    transition: 0.3s;
  }

  .main-nav__link-modal::before {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 0px;
    left: -15%;
    height: 0px;
    width: 130%;
    background-color: #e83a30;
    transition: 0.3s;
  }

  .main-nav__link-modal:hover::before,
  .main-nav__link-modal:focus::before {
    height: 55px;
    transition: 0.3s;
  }

}
